@import "node_modules/ol/ol.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 99vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: auto;
  z-index: -1;
}

.buton-line {
  position: sticky;
  margin: 1rem;
  z-index: 1;
}

.header {
  margin: 0 auto;
  padding-top: 1rem;
  position: sticky;
  opacity: .8;
  width: 90vw;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  z-index: 1;
}

.header_title {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(240, 248, 255, 0.729);
}